<nav class="navbar-expand-lg navbar bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <li class="nav-item active"><a class="nav-link" href="#" (click)="showContent('recipe')">Recipe</a></li>
      <li class="nav-item active"><a class="nav-link" href="#" (click)="showContent('shopping-list')">Shopping List</a></li>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage</a>
          <ul class="dropdown-menu">
            <li><a herf="#">Save Data</a></li>
            <li><a herf="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
