<app-header (tag)="triggerTag($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="tagName === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="tagName !== 'recipe'"></app-shopping-list>

      <p appBasicHighlight> basic highlight directive</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'"> better highlight directive</p>
      <button class="btn btn-primary" (click)="changeTest()">hide/show</button>
      <div *appUnless="!test" >
        <p>basic highlight directive</p>
      </div>
      <div class="row">
        <input class="input-group-sm" type="number" [(ngModel)]="numbersEl">
        <div [ngSwitch]="numbersEl">
          <div class="col-sm-4" *ngSwitchCase="1">value is 1</div>
          <div class="col-sm-4" *ngSwitchCase="2">value is 2</div>
          <div class="col-sm-4" *ngSwitchCase="3">value is 3</div>
          <div class="col-sm-4"  *ngSwitchDefault>no match</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<app-server></app-server>-->
<!--<app-cli-servers></app-cli-servers>-->

