<p>server component</p>
<!--<p>{{ 'Server' }} name is {{ serverName }}  id is: {{ serverId }} and status is {{ getServerStatus() }}</p>-->

<!--[ngStyle]="{backgroundColor: getColor()}"-->
  <!--[ngClass]="{online: serverStatus === 'online'}"-->



<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreatedServer()">add server</button>
<p>{{serverCreationStatus}}</p>

<input type="text" class="form-control" (input)="onUpdateServerName($event)">


<p [innerText]="allowNewServer"></p>
<p>{{allowNewServer}}</p>



<input type="text" class="form-control" [(ngModel)] = "username">
<p>{{username}}</p>
<p *ngIf="serveCreated; else noServer"> server created successfully</p>

<ng-template #noServer>
  <p>no server created</p>
</ng-template>

<div *ngFor="let s of servers; let i = index">
  length:{{s.length}}---name:{{s}}----{{i + 1}},
</div>

<hr>
<p>{{serverElement.id}} {{serverElement.name}}</p>




