<p>server component</p>
<p>{{ 'Server' }} name is {{ serverName }}  id is: {{ serverId }} and status is {{ getServerStatus() }}</p>


<button class="btn btn-primary" [disabled]="!allowNewServer" (dblclick)="onCreatedServer()">add server</button>
<p>{{serverCreationStatus}}</p>

<input type="text" class="form-control" (input)="onUpdateServerName($event)">


<p [innerText]="allowNewServer"></p>
<p>{{allowNewServer}}</p>



<input type="text" class="form-control" [(ngModel)] = "username">
<p>{{username}}</p>





