<app-server *ngFor="let s of serversList" [serverTemplate]="s" [updatedFirstServerName]="s.name">
</app-server>
<app-add-server (serverCreated)="onServerAdded($event)"></app-add-server>

<input type="text" class="form-control" #localRefExample>
<button class="btn btn-dark" (click)="passLocalRef(localRefExample)">local ref button</button>
<p>{{localRefTs}}</p>

<br>
<input type="text" class="form-control" #viewChildVar>
<button class="btn btn-dark" (click)="passViewChild()">view child button</button>
<p> {{viewChildVarTsValue}} </p>
<p> {{viewChildVarTs.nativeElement.value}} </p>


<br>
<button class="btn btn-dark" (click)="ChangeFirstServername()">change first server name</button>
<hr>
<button class="btn btn-danger" (click)="DestoryFirstServer()">D estory first server</button>
